@import '../../styles/main';

.help-center-container {
  margin-top: 20px;
  padding: 15px 30px !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include sm-breakpoint {
    padding: 15px 10px !important;
  }
}
