@import '../../../styles/main';

.events-multimedia-box {
  padding: 15px 30px !important;
}

.video-container {
  margin-top: 20px;
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  max-width: 800px;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.multimedia-video-card {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background-color: $box_background;
  }
}

.multimedia-form-container {
  @include flex-column-center;
  gap: 10px;
}
