@import './../../../../styles/_main.scss';

.user-profile-page-container {
  width: 100%;
  padding-left: 20px;

  @include md-breakpoint {
    padding-left: 0;
  }
}
.user-profile-cover {
  width: 100%;
  max-height: 150px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: fill;
  }
}
.first-row-container {
  padding: 35px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  // @include md-breakpoint {
  //   flex-direction: column;
  //   gap: 2rem;
  //   padding: 10px 0;
  // }
}

.user-profile-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  .user-profile-stat-container {
    width: 100%;

    .user-profile-stat-text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      .user-profile-stat-value {
        font-weight: 600;
        text-align: end;
      }
      .user-profile-stat-label {
        font-weight: 600;
        text-align: start;
      }
    }
  }
}

.user-profile-reviews-container {
  padding-left: 2rem;
}
