// No pongamos mas colores aca, usemos las variables de CSS
// Ahora los usamos porque ya lo veniamos usando asi.

$primary: var(--primary);
$primary_dark: var(--primary_dark);
$primary_ligth: var(--primary_ligth);

$secondary: var(--secondary);
$secondary_dark: var(--secondary_dark);

$tertiary: var(--tertiary);
$tertiary_dark: var(--tertiary_dark);

$info: var(--info);
$info_dark: var(--info_dark);

$success: var(--success);
$success_dark: var(--success_dark);

$warning: var(--warning);
$warning_dark: var(--warning_dark);

$error: var(--error);
$error_dark: var(--error_dark);

$input_border: var(--input_border);
$input_background: var(--input_background);

$box_background: var(--box_background);

$sweet_alert_background: var(--sweet_alert_background);

$text_color: var(--text_color);

$dropdown_background: var(--dropdown_background);

:export {
  primary: $primary;
  primary_dark: $primary_dark;
  primary_ligth: $primary_ligth;
  secondary: $secondary;
  secondary_dark: $secondary_dark;
  tertiary: $tertiary;
  tertiary_dark: $tertiary_dark;
  info: $info;
  info_dark: $info_dark;
  success: $success;
  success_dark: $success_dark;
  warning: $warning;
  warning_dark: $warning_dark;
  error: $error;
  error_dark: $error_dark;

  input_border: $input_border;
  input_background: $input_background;

  box_background: $box_background;

  sweet_alert_background: $sweet_alert_background;

  text_color: $text_color;

  dropdown_background: $dropdown_background;
}
