@mixin flex {
  display: flex;
}

@mixin flex-center {
  @include flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-start {
  @include flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-space-between {
  @include flex;
  align-items: center;
  justify-content: space-between;
}

@mixin sm-breakpoint {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin md-breakpoint {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin lg-breakpoint {
  @media only screen and (max-width: $lg) {
    @content;
  }
}

@mixin xxl-breakpoint {
  @media only screen and (max-width: $xxl) {
    @content;
  }
}
