@import '../../styles/main';

.input-container {
  width: 100%;

  & label {
    display: block;
    margin-bottom: 10px;
  }

  & input {
    display: block;
    width: 100%;
    background: $input_background;
    border: solid 0px;

    &:focus {
      outline: none;
    }
  }
}
