@import '../../../styles/main';

.permissions-container {
  display: flex;
  flex-direction: row;

  overflow-x: auto;
  padding-bottom: 1rem;

  .permissions-subject-class {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--background, #1e2e2c); //backgroun color
    padding-left: 0.5rem;

    .title {
      margin-bottom: 1rem;
      margin-top: 0;
    }

    .permissions {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-left: 0.5rem;

      .permission {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        gap: 1rem;
        max-height: 2rem;
        min-width: 170px;

        input {
          appearance: none;
          border-radius: 3px;
          border: 1px solid black;
          min-width: 1rem;
          min-height: 1rem;
          max-width: 1rem;
          max-height: 1rem;
          background: $input_background;
          &:checked {
            background-color: $primary;
          }
        }
      }
    }
  }
}
