@import './../../styles/_main.scss';

nav {
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 1000;
  width: 100%;
}

.nav-container {
  padding: 10px;
  @include flex-space-between;
}

.nav-dropdown {
  float: left;
  overflow: hidden;

  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown_background);
    z-index: 1;

    a {
      float: none;
      padding: 12px 16px;
      display: block;
      text-align: left;
      width: inherit;
    }
  }

  &:hover {
    .nav-dropdown-content {
      display: block;
    }
  }
}

.logo-container {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

  .logo {
    height: 2rem;
  }

  .title {
    margin: 0;
    background: -webkit-linear-gradient(0.25deg, #902cdc, #d033ef);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media only screen and (max-width: 350px) {
      display: none;
    }
  }
}

.links-container {
  @include flex-start;
  gap: 1.5rem;

  @include lg-breakpoint {
    display: none;
  }
}

.hamburguer {
  display: none;
  cursor: pointer;

  @include lg-breakpoint {
    display: contents;
  }
}

.nav-user-profile {
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  cursor: pointer;
  .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .rol-dropdown {
      display: flex;
    }
  }
}

.nav-admin-container {
  display: flex;
  cursor: pointer;
  width: max-content;
  padding: 0.5rem 0rem;
}
