@import '../../styles/main';

.admin-box-container {
  padding: 20px 30px;
  margin-top: 40px;
}

.admin-title-container {
  @include flex-space-between;
  margin: 10px 0px;
}

.admin-search-container {
  @include flex-space-between;
}
